{% extends "base.jinja" %}
{% block title %}Rosty's Website{% endblock title %}
{% block body %}
<main>
  <h1>Hi, I'm Rosty!</h1>
  <p>This is my website. It's a work in progress.</p>
</main>
{% endblock body %}
