{% set title = "%s - Personal Website" % display_name %}
{% set description = "a %s y.o. developer from Ukraine. Open to find contact info." % years_old %}

{% extends "layout.jinja" %}
{% block title %}{{ title }}{% endblock title %}
{% block meta %}
  {% include "meta.jinja" %}
{% endblock meta %}
{% block main %}
<main>

  <h1>Hi, I'm {{ short_name }}</h1>
  <p style="text-align: center">a {{ years_old }} y.o. full-time developer from Ukraine<br>crafting digital wonders with code</p>
  <nav style="text-align: center">
    <a href="{{ url_for('about') }}" title="About Me">About</a>
    <a href="https://kekity-kek.tumblr.com" style="color: var(--solarized-magenta)" title="Tumblr Blog" target="_blank">Memes</a>
  </nav>
</main>
{% endblock main %}
