{% set image_url = url_for("static", path="preview.png") %}
{% set image_alt = "Rounded avatar with Ukrainian flag on the background" %}

<meta name="author" content="{{ display_name }}">
<meta name="description" content="{{ description }}">

<meta property="og:title" content="{{ title }}">

<meta property="og:type" content="{{ type|default('website') }}">
<meta property="og:url" content="{{ url|default(url_for('index')) }}">
<meta property="og:description" content="{{ description }}">

<meta property="og:image" content="{{ image_url }}">
<meta property="og:image:alt" content="{{ image_alt }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="400">
<meta property="og:image:height" content="200">

<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ image_url }}" />
<meta name="twitter:image:alt" content="{{ image_alt }}" />