{% extends "layout.jinja" %}
{% block title %}Cup of tea{% endblock title %}
{% block meta %}
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
{% endblock meta %}
{% block main %}
  <p>
    <a href="https://knowyourmeme.com/memes/http-error-418-im-a-teapot">Origins : the Hyper Text Coffee Pot Control Protocol</a>
  </p>
  <a href="https://www.midjourney.com" target="_blank">
    <img src="/static/tea-midjourney.jpg" style="border-radius: 5px; object-fit: cover;" alt="Chinese girls pick tea in the tea garden">
  </a>
{% endblock main %}